

@media only screen and (min-width: 650px) {

/* Header Section//////////////////////////////////////////// */
.main-header-mobile{
    display: none;
}


.main-header-desktop{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 64px;
    display: inline-block;
    top: 0px; /* This is to make the header fixed at top when we scroll */
    color: black;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
}

.main-header-desktop span{
    display: inline-block;
    padding-top: 22px;
    font-weight: bold;
}

a{
    color: black;
}

a:hover{color: darkslategray}

.logo{
    float: left;
    height: 32px;
    padding: 16px 0px 16px 24px;
    
}

.navigation{
    float: right;
    height: 100%;
    margin: 0.5 auto;
    padding-right: 24px;
    font-family: 'Montserrat', sans-serif;
    
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.navigation a li{

    display: table-cell;
    height: 64px;
    
}




/* Learn something new each day section ////////////////////////////////////////////////////////////////////////// */

.container1-mobile{
    display: none;
}

.container1-desktop{
    height: fit-content;
    width: 100%;
    display: inline-flex;
    background-color: lightgray;
    padding-top: 50px;
    color: darkslategray;
}
/* Left Side */

.left-side-container1-desktop{
    width: 60%;
    height: fit-content;
}

.left-side-container1-desktop img{
    width: 100%;
    padding: 32px 24px;
    height: fit-content;
}
/* Right side*/

.right-side-container1-desktop{
    width: 40%;
    height: fit-content;
    display: block; 
    padding-left: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 24px;
    padding-top: 15%;
}

    
.button-desktop{
    background-color: darkslategray; 
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    width: 80%;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;

}
.button-desktop:hover{
    background-color: grey;
}

/* Keep practicing section ////////////////////////////////////////////////////*/


.container2{
    width: 100%;
    height: auto;
    display: inline-flex;
    background-color: white;
    padding-bottom: 32px;
}
/*Left side*/

.left-side-container2{
    display: block;
    width: 60%;
    padding: 32px 24px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
}

.left-side-container2 img{
    width: 100%;
    height: fit-content;
    
}
/* Right side*/

.right-side-container2{
    display: block;
    width: 40%;
    border-left: lightgray 1px solid;

}

.boxes2{
    display: inline-flex;
    padding: 32px 0px 32px 24px;
    border-bottom: lightgray 3px solid;
    width: 97%;
}

.boxes2:hover{
    background-color: lightgray;
}

.images2-desktop{
    width: 35%;
    height: auto;
}

.images2-mobile{
    display: none;
}

.boxes2-text{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
    padding: 8px 16px;
}

/* Start learning section ////////////////////////////////////////////////////*/

.container3{
    width: 100%;
    height: auto;
    background-color: lightgray;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    padding-top: 32px;

    
}

.container3-top-row{
    display: flex; /* Went for flex here instead of inline-flex as that wouldn't line up frustatingly */
    padding: 0px 72px;
}

.container3-bottom-row{
    display: flex;
    padding: 0px 72px;
    padding-bottom: 32px;
}

.boxes3{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    margin: 16px 16px;
    height: auto;
    width: 100%;
    
}

.boxes3 h3, .boxes3 h4{
    padding: 16px 16px;
}

.images3{
    width: 100%;
    height: auto;
}

/* Thesis Exhibit section ////////////////////////////////////////////////////*/

.container4{
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'montserrat', sans-serif;
    padding-top: 32px;
    display: inline-flex;
    color: darkslategray;
}

.container4-heading{
    text-align: center;
    display: block;
    font-family: montserrat, sans-serif;
    color: darkslategray;
    padding-top: 32px;
    
}

.left-side-container4{
    width: 60%;
    height: fit-content;
    padding: 32px 24px;
}

.left-side-container4 video{
    width: 100%;
    height: auto;
}
.right-side-container4{
    display: block;
    width: 40%;
    height: auto;

}

.boxes4{
    display: inline-flex;
    padding: 32px 0px 32px 24px;
    width: 100%;
}

.boxes4:hover{
    background-color: lightgray;
}

.images4{
    width: 35%;
    height: auto;
}

.boxes4-text{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
    padding: 8px 16px;
}

/* Footer section ////////////////////////////////////////////////////*/


.left-side-footer{
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
    padding: 16px 24px;
}

.right-side-footer{
    float: right;
}

footer{
    border-top: darkslategrey solid 1px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

} /* End of media Query for above 650px */

@media only screen and (max-width: 650px) {

    /* Header section ////////////////////////////////////////////////////////////////////////////////////////*/
    .main-header-desktop{
        display: none;
    }

    .main-header-mobile h1{
        display: none;
    }

    .main-header-mobile{
        background-color: white;
        position: fixed;
        width: 100%;
        height: 64px;
        display: inline-block;
        top: 0px; /* This is to make the header fixed at top when we scroll */
        color: black;
        font-family: 'Montserrat', sans-serif;
        z-index: 10;
    }
    a{
        color: black;
    }
    
    a:hover{color: darkslategray}
    
    .logo{
        float: left;
        height: 32px;
        padding: 16px 0px 16px 24px;
        
    }
    
    .navigation{
        float: right;
        height: 100%;
        margin: 0.5 auto;
        padding-right: 24px;
        font-family: 'Montserrat', sans-serif;
        
    }
    
    .navigation a {
        height: 100%;
        display: table;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    .navigation a li{
    
        display: table-cell;
        height: 64px;
        
    }

    /* Learn something new each day section ////////////////////////////////////////////////////////////////////////////////////////*/
    .container1-desktop{
        display: none;

    }

    .container1-mobile{
        display: block;
        margin: 0;
        font-family: montserrat, sans-serif;
        color: darkslategray;
        background-color: lightgray;
    }

    .container1-mobile h1{
        padding-top: 32px;
        padding-left: 16px;
    }

    .container1-mobile h3{
        padding-left: 16px;
    }

    .container1-mobile img{
        width:100%;
        padding-top: 50px;
    }

    .button-mobile{
        background-color: darkslategray; 
        border: none;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        width: 80%;
        font-size: 20px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 30px;
        margin-left: 16px;
    
    }
    .button-mobile:hover{
        background-color: grey;
    }

/* container2 - keep practicing section ////////////////////////////////////////////////////////////////////////////////////////*/

.container2{
    width: 100%;
    height: auto;
    display: block;
    background-color: white;
    padding-bottom: 32px;
}
/*Left side*/

.left-side-container2{
    display: none;
    width: 100%;
    padding: 32px 24px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
}

.left-side-container2 img{
    width: 100%;
    height: fit-content;
    
}
/* Right side*/

.right-side-container2{
    display: block;
    width: 100%;
    border-left: lightgray 1px solid;

}

.boxes2{
    display: block;
    padding-top: 16px;
    border-bottom: lightgray 3px solid;
    width: 100%;
}

.boxes2:hover{
    background-color: lightgray;
}

.images2-desktop{
    display: none;
}

.boxes2-text{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
    padding: 8px 16px;
}

.images2-mobile{
    width: 100%;
}

}